/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/ngx-toastr/toastr.css";
@import "./variable.scss";

body {
  //   background-color: $emsPrimaryThemeColor;
  //background-color: rgb(217, 230, 230);
}
.ems-app-container {
  width: 99vw;
  background-color: rgb(217, 230, 230);
}
// Header start
.ems-header-body {
  background-color: rgb(217, 230, 230);
  //width: 97vw;
}
// Header ends

// Side menu start

.ems-side-menu-body {
  border: 1px solid $emsPrimaryThemeColor;
  height: 90vh;
  //min-width: 8vh;
  background-color: rgb(217, 230, 230);
  margin: 0px 10px;
}

.ems-side-menu-header {
  background-color: $emsPrimaryThemeColor;
}
.ems-side-menu-header-caption {
  color: #fff;
}
.ems-side-menu-down-icon {
  color: $emsDownArrowColor;
}
.ems-side-menu-nav-link {
  text-decoration: none;
  color: #000000;
}
.ems-side-menu-nav-link:hover {
  font-weight: 600;
}
.ems-side-menu-nav-link.active {
  color: $emsPrimaryThemeColor;
  font-weight: 600;
}
// side menu end

//Body start
.ems-main-body-grid {
  display: grid;
  grid-template-columns: 14% 84%;
  gap: 0px 12px;
}
.ems-header {
  background-color: $emsPrimaryThemeColor;
  color: $emsPageHeaderColor;
  font-size: 1rem;
  height: 3vh;
  //width: 83vw;
}
.ems-body {
  border: 1px solid $emsPrimaryThemeColor;
  //width: 83vw;
  height: 87vh;
  background-color: $emsPrimaryBodyBackGroundColor;
  overflow: auto;
}
//body end

// Footer start
.ems-footer {
  background-color: rgba($color: #818080, $alpha: 1);
}
.ems-footer-text {
  color: #fff;
}
// Footer end

.ems-content {
  // min-height: 70vh;
}
.ems-loading {
  width: 83vw;
  min-height: 90vh;
}
.ems-profile-icon {
  color: $emsPrimaryThemeColor;
}
.ems-logout-icon {
  color: $emsPrimaryThemeColor;
}

.ems-table-icon,
.ems-edit-table-icon,
.ems-delete-table-icon {
  font-size: 1.5em;
  cursor: pointer;
}
.ems-edit-table-icon {
  color: $emsPrimaryThemeColor;
}
.ems-delete-table-icon {
  color: $emsTableRowDeleteColor;
}
.ems-a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}
.ems-a:hover {
  color: #333;
}

.ems-login-form-div {
  border: 1px solid $emsPrimaryThemeColor;
  padding: 2rem;
}
.ems-login-form-header {
  background-color: $emsPrimaryThemeColor;
  color: $emsPageHeaderColor;
}

// employee list page
.ems-employee-list-grid {
  display: grid;
  row-gap: 1rem;
  //column-gap: 0.2rem;
  margin-bottom: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

// media queries
@media (max-width: 75em) {
  .ems-main-body-grid {
    grid-template-columns: 1fr;
    padding-left: 1rem;
  }
  .ems-employee-list-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .ems-side-menu-body {
    display: none;
  }
  .ems-body {
    width: 98vw;
  }
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
