/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/ngx-toastr/toastr.css";
@import "./variable.scss";

body {
  //   background-color: $emsPrimaryThemeColor;
}
.ems-app-container {
  width: 99vw;
}
.ems-header-body {
  background-color: rgb(217, 230, 230);
  width: 98.8vw;
}
.ems-header {
  background-color: $emsPrimaryThemeColor;
  color: $emsPageHeaderColor;
  font-size: 1.4rem;
  height: 4vh;
  width: 83vw;
}
.ems-body {
  border: 1px solid $emsPrimaryThemeColor;
  width: 83vw;
  height: 86vh;
  background-color: $emsPrimaryBodyBackGroundColor;
}
.ems-content {
  // min-height: 70vh;
}
.ems-loading {
  width: 83vw;
  min-height: 90vh;
}
.ems-profile-icon {
  color: $emsPrimaryThemeColor;
}
.ems-logout-icon {
  color: $emsPrimaryThemeColor;
}

.ems-table-icon,
.ems-edit-table-icon,
.ems-delete-table-icon {
  font-size: 1.5em;
  cursor: pointer;
}
.ems-edit-table-icon {
  color: $emsPrimaryThemeColor;
}
.ems-delete-table-icon {
  color: $emsTableRowDeleteColor;
}
.ems-a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
}
.ems-a:hover {
  color: #333;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
