@import "../../../../variable.scss";
.ems-table {
  width: 100%;
  border: 1px solid $emsPrimaryThemeColor;
  box-shadow: 0.1rem 0.1rem 0.2rem 0.2rem $emsShadowColor;
}
.ems-table-header {
  background-color: $emsPrimaryThemeColor;
  color: $emsPageHeaderColor;
  font-weight: 500;
}
tbody tr:hover {
  background-color: $emsTableRowHoverColor;
}
.ems-table-tr {
  background-color: $emsTableRowHoverColor;
}
