<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/08f1ceb4-cf41-4318-a1e8-69d9541081bd/resourceGroups/EMS-WebDevelopment/providers/Microsoft.Web/sites/Web20221216125419</ResourceId>
    <ResourceGroup>EMS-WebDevelopment</ResourceGroup>
    <ApiResourceId>/subscriptions/08f1ceb4-cf41-4318-a1e8-69d9541081bd/resourceGroups/EMS-WebDevelopment/providers/Microsoft.ApiManagement/service/EMSWebapiService/apis/EMSWebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://web20221216125419.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>47e1e78f-fe8b-4e2a-8f61-d8d9ffc2bb12</ProjectGuid>
    <MSDeployServiceURL>web20221216125419.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Web20221216125419</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Web20221216125419</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>