<div class="ems-header">{{ this.pageTitle }}</div>

<ng-container *ngIf="vm$ | async as data">
  <div
    class="row mt-2 ems-body"
    *ngIf="data.loadingStatus !== 'loading'; else loading"
  >
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="id" style="display: none" />

      <div class="row">
        <div class="col">
          <app-text-input
            formControlName="firstName"
            [label]="'First Name'"
          ></app-text-input>
        </div>
        <div class="col">
          <app-text-input
            formControlName="lastName"
            [label]="'Last Name'"
          ></app-text-input>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <app-text-input
            formControlName="age"
            [label]="'Age'"
          ></app-text-input>
        </div>
        <div class="col">
          <app-text-input
            formControlName="salary"
            [label]="'Salary'"
          ></app-text-input>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ng-container *ngIf="data.empFormPageData.departments">
            <select
              class="form-control"
              id="departmentId"
              formControlName="departmentId"
              [ngClass]="
                this.employeeForm.get('departmentId').touched
                  ? !this.employeeForm.get('departmentId').valid
                    ? 'is-invalid'
                    : 'is-valid'
                  : null
              "
            >
              <option [ngValue]="null">Select department</option>
              <option
                *ngFor="let department of data.empFormPageData.departments"
                [ngValue]="department.id"
              >
                {{ department.name }}
              </option>
            </select>
            <div
              class="invalid-feedback"
              *ngIf="
                !this.employeeForm.get('departmentId').valid &&
                this.employeeForm.get('departmentId').touched
              "
            >
              <span
                *ngIf="this.employeeForm.get('departmentId').errors?.required"
                >Designation is required</span
              >
            </div>
            <!-- <app-select-input
              formControlName="departmentId"
              [dataList]="vm.departments"
              [firstOptionText]="'Select a department'"
              [label]="'Department'"
            ></app-select-input> -->
          </ng-container>
        </div>
        <div class="col">
          <ng-container *ngIf="data.empFormPageData.designations">
            <select
              class="form-control"
              formControlName="designationId"
              [ngClass]="
                this.employeeForm.get('designationId').touched
                  ? !this.employeeForm.get('designationId').valid
                    ? 'is-invalid'
                    : 'is-valid'
                  : null
              "
            >
              <option [ngValue]="null">Select designation</option>
              <option
                *ngFor="let designation of data.empFormPageData.designations"
                [ngValue]="designation.id"
              >
                {{ designation.name }}
              </option>
            </select>
            <div
              class="invalid-feedback"
              *ngIf="
                !this.employeeForm.get('designationId').valid &&
                this.employeeForm.get('designationId').touched
              "
            >
              <span
                *ngIf="this.employeeForm.get('designationId').errors?.required"
                >Designation is required</span
              >
            </div>

            <!-- <app-select-input
              formControlName="designationId"
              [dataList]="vm.designations"
              [firstOptionText]="'Select a designation'"
              [label]="'Designation'"
            ></app-select-input> -->
          </ng-container>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <label for="formFile">Image</label>
          <input
            class="form-control"
            accept="image/*"
            type="file"
            id="formFile"
            formControlName="imageUrl"
            (change)="selectFile($event)"
          />
          <span *ngIf="this.fileError" class="text-danger">{{
            this.fileError
          }}</span>
          <br />
          <span
            >Maxmimum allowed file size
            {{ this.serverAppConfig.maxImageSizeInKB }} KB.</span
          >
        </div>
        <div class="col">
          <ng-container *ngIf="this.mode === 'UPDATE'">
            <img
              height="50%"
              width="50%"
              src="{{
                this.localImagePath ? this.localImagePath : employee.imageUrl
              }}"
              class="img-fluid rounded-start"
              alt="{{ employee.firstName }} {{ employee.lastName }}"
              #imgUpdate
            />
            <button
              type="button"
              class="btn btn-danger btn-sm"
              [disabled]="
                imgUpdate.src === data.empFormPageData.defaultImageUrl
              "
              (click)="clearImage()"
            >
              Remove
            </button>
          </ng-container>
          <ng-container *ngIf="this.mode === 'ADD'">
            <img
              height="50%"
              width="50%"
              src="{{
                this.localImagePath
                  ? this.localImagePath
                  : data.empFormPageData.defaultImageUrl
              }}"
              class="img-fluid rounded-start"
            />
          </ng-container>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-auto">
          <button
            type="submit"
            [disabled]="!employeeForm.valid"
            class="btn btn-success btn-sm"
          >
            {{ employeeForm.value.id ? "Update" : "Create" }}
          </button>
        </div>
        <div class="col-auto">
          <button type="button" class="btn btn-danger btn-sm" (click)="reset()">
            Reset
          </button>
        </div>
      </div>
    </form>
  </div>
  <ng-template #loading>
    <h3>Loading please wait..</h3>
  </ng-template>
</ng-container>
