@import "../../../../variable.scss";
.ems-side-menu-header {
  background-color: $emsPrimaryThemeColor;
}
.ems-side-menu-header-caption {
  color: #fff;
}
.ems-side-menu-down-icon {
  color: $emsDownArrowColor;
}
